Makefile
config.log
config.status
include/config.h
include/stamp-h1
libtool
src/.deps/
src/Makefile
test/.deps/
test/Makefile
*swp
src/.libs/
src/libturing.la
src/parseTuringConfig.lo
src/parseTuringConfig.o
src/turing.lo
src/turing.o
src/turingGram.lo
src/turingGram.o
src/turing.c
src/turingGram.c
